*,
*::after,
*::before{
    box-sizing: border-box;
}
body,
h1,
h2,
p{
    margin: 0;
    
}
.main{
    background:linear-gradient(246.26deg, #585DFE 3.04%, #FB3796 100%);

    mix-blend-mode: normal;
    height: 50vh;
    display: grid;
    place-items: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;

}
.main h1{
    padding-top: 3rem;
    filter: drop-shadow();
    
    
}
.main p{
    font-size: 100px;
   
    margin-bottom: 5rem;
}

.conversion-results{
    background: #1F2937;
    height: 50vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}
.conversion-results > * + *{
    margin-top: .75rem;
}
.conversion-results h2{
    font-size: 14px;
    margin-bottom: .5rem;

}
.conversion-results p{
    color: #D2D2D2;
}
.result{
    display: flex;
   }
.result >* {
    padding: 0  2rem;

}
.result > :first-child{
    border-right:#D2D2D2 solid 1px;
}